<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconofoodmaps"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOOFMAPS"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".dueño.vista_dueno2"
            android:exported="false" />
        <activity
            android:name=".ADMIN.Vista_administrador"
            android:exported="false" />
        <activity
            android:name=".dueño.Editarestabebida"
            android:exported="false" />
        <activity
            android:name=".dueño.Editaresteplato"
            android:exported="false" />
        <activity
            android:name=".dueño.editar_bebida"
            android:exported="false" />
        <activity
            android:name=".dueño.agregar_bebidas"
            android:exported="false" />
        <activity
            android:name=".dueño.editar_plato"
            android:exported="false" />
        <activity
            android:name=".dueño.agregar_platos"
            android:exported="false" />
        <activity
            android:name=".dueño.vista_dueno"
            android:exported="false" />
        <activity
            android:name=".clientes.restaurantes.MenuRest"
            android:exported="false"
            android:label="MenuRestActivity" />
        <activity
            android:name=".clientes.restaurantes.MapsCliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSto7bMf939HbSUktPe0IWWn78J7B9hSQ" />

        <activity
            android:name=".clientes.restaurantes.registro"
            android:exported="false" />
        <activity
            android:name=".clientes.restaurantes.MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>